body {
    background-color: #C4CCD4;
    font-family: verdana, sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
}

.fixed-panel {
  min-height: 220;
  max-height: 220;
  overflow-y: scroll;
}