
    <div class="panel panel-primary" ng-init="getQuestions">
        <div class="panel-heading">
            <h3 class="panel-title">Question of the day:</h3>
            {{quests.question_text}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div>
                    <div class="col-md-12">
                        <answers></answers>
                        <div class="col-md-6">
                            <div ng-init="getAnswers">
                                <form name="answer-getter" ng-submit="updateAnswer">
                                    <div ng-repeat="choice in answer">
                                        <div class="radio">
                                            <label><input type="radio" ng-model="choice.answer_text">{{choice.answer_text}}</label>
                                        </div>
                                    </div>
                                    <input type="submit" value="Submit">
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div ng-repeat="choice in answer">
                                Number chosen:{{choice.count}} - {{choice.answer_text}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

