<form ng-submit="updateAnswer()" ng-init="getAnswer()">
    <div class="form-group">
        <h2>Click to vote!</h2>
        <br>
        <div ng-repeat="answer in answerList">
            <td>
<!--                <input type="button" value="Vote" ng-click='incrementCount(answer)'>-->
                <input type="radio" ng-value="answer"
              id="{{answer.aid}}" name="answer.aid" ng-model="$parent.answer" />
                <label>{{answer.answer_text}}</label>
            </td>
        </div><br />
        <input type="button" id="btnClick" value="Submit" ng-click="checkoptions(answerList)" /><br /><br />
        <div class="pull-right">
            <a href="#/results">Results</a>
        </div>
    </div>
</form>

